@tailwind base;
@tailwind components;
@tailwind utilities;


/* Confinement et sizing du canvas 3Dmol */
.viewer3d canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
  